$offer_font-family: 'Montserrat Alternates',
sans-serif;
$offer_font-weight__700: 700;
$offer_font-style: normal;
$offer_background-color: #F3F1F1;
$offer_color-text: #000000;
$offer__background-color__pink: #B490AC;

.offer {
    background-color: $offer_background-color;
    padding: 36px 0 45px 0;

    &__inside-blocks {
        margin: 0 auto;

        &__text-heading {
            font-family: $offer_font-family;
            font-weight: $offer_font-weight__700;
            font-style: $offer_font-style;
            font-size: 32px;
            width: 1055px;
            text-align: center;
            margin: 0 auto;
        }

        &__btn-offer {
            background-color: $topscreen_background-color__pink;
            display: flex;
            align-items: center;
            padding: 12px 181px 12px 18px;
            width: 892px;
            border-radius: 12px;
            margin: 33px auto 0;

            a {
                text-decoration: none;
            }

            img {
                width: 71px;
                height: 67px;
            }

            &__text-style {
                font-family: $topcreen_font-family;
                font-weight: $topscreen_font-weight__700;
                font-style: $topscreen_font-style;
                font-size: 36px;
                color: $topscreen_text-color;
                margin-left: 95px;
                width: 710px;
                text-transform: uppercase;
            }
        }
    }
}