$registration_font-family: 'Roboto', sans-serif;
$registration_font-weight_400: 400;
$registration_font-weight_700: 700;
$registration_font-style: normal;

.registration {

    &__block {
        background-color: #DAE3F0;
        max-width: 862px;
        position: relative;
        margin: 55px auto 0;

        &__form {
            max-width: 736px;
            margin: 0 auto;
        }

        &__buttons {
            display: flex;
            justify-content: space-between;

            button {
                font-family: $registration_font-family;
                font-weight: $registration_font-weight_400;
                font-style: $registration_font-style;
                font-size: 20px;

                background-color: #B490AC;
                color: #fff;
                border: 0;
                padding: 19px 55px 19px 55px;
                border-radius: 30px;
                margin: 0 0 39px 0;
                cursor: pointer;
            }
        }

        &__heading-text {
            font-family: $registration_font-family;
            font-weight: $registration_font-weight_700;
            font-style: $registration_font-style;
            font-size: 30px;
            text-align: center;
            padding: 42px 0 0 0;
            margin: 0 0 11px 0;
        }

        &__labels {
            font-family: $registration_font-family;
            font-weight: $registration_font-weight_400;
            font-style: $registration_font-style;
            font-size: 20px;
        }

        &__input-country {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 37px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }

        &__country {
            position: absolute;
            left: 747px;
            top: 149px;
            border: 0;
            background-color: rgba(0,0,0,0);
            outline: none;
        }

        &__input-rovince {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 37px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }

        &__rovince {
            position: absolute;
            left: 747px;
            top: 277px;
            border: 0;
            background-color: rgba(0,0,0,0);
            outline: none;
        }

        &__input-city {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 37px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }

        &__city {
            position: absolute;
            left: 747px;
            top: 405px;
            border: 0;
            background-color: rgba(0,0,0,0);
            outline: none;
        }

        &__input-employment {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 54px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }

        &__employment {
            position: absolute;
            left: 747px;
            top: 533px;
            border: 0;
            background-color: rgba(0,0,0,0);
            outline: none;
        }
    }

    p {
        font-family: $registration_font-family;
        font-weight: $registration_font-weight_400;
        font-style: $registration_font-style;
        font-size: 24px;

        max-width: 862px;
        text-align: center;
        margin: 20px auto 65px;
        color: #000;

        a {
            text-decoration: none;
            color: #54274A;
        }
    }
}