$registration_font-family:  'Montserrat Alternates',
sans-serif;
$registration_font-family__roboto: 'Roboto', sans-serif;
$registration_font-weight_400: 400;
$registration_font-weight_700: 700;
$registration_font-style: normal;

.registration {
    margin: 0 auto 88px;

    &__block {
        background-color: #DAE3F0;
        max-width: 862px;
        margin: 55px auto 0;
        padding: 20px 0 17px 0;

        &__form {
            max-width: 736px;
            margin: 0 auto;
        }

        &__buttons {
            display: flex;
            justify-content: space-between;

            button {
                font-family: $registration_font-family;
                font-weight: $registration_font-weight_400;
                font-style: $registration_font-style;
                font-size: 20px;

                background-color: #B490AC;
                color: #fff;
                border: 0;
                padding: 19px 55px 19px 55px;
                border-radius: 30px;
                margin: 0 0 122px 0;
                cursor: pointer;
            }
        }

        &__input-username {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 37px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }

        &__input-lastname {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 37px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }

        &__input-password {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 37px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }

        &__input-email {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 37px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }

        &__labels {
            font-family: $registration_font-family;
            font-weight: $registration_font-weight_400;
            font-style: $registration_font-style;
            font-size: 20px;
        }

        &__input-country {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 37px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }

        &__country {
            position: absolute;
            left: 747px;
            top: 758px;
            border: 0;
            background-color: rgba(0,0,0,0);
            outline: none;
        }

        &__input-rovince {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 37px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }

        &__rovince {
            position: absolute;
            left: 747px;
            top: 1016px;
            border: 0;
            background-color: rgba(0,0,0,0);
            outline: none;
        }

        &__input-date {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 37px 0;
            padding: 0 20px 0 20px;
            font-size: 18px;
        }

        &__input-employment {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 30px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }

        &__employment {
            position: absolute;
            left: 747px;
            top: 1146px;
            border: 0;
            background-color: rgba(0,0,0,0);
            outline: none;
        }

        &__checkbox-style {
            display: flex;
            align-items: baseline;
            margin: 0 0 46px 0;

            &__checkbox-label {
                width: 639px;
                font-family: $registration_font-family;
                font-weight: $registration_font-weight_400;
                font-style: $registration_font-style;
                font-size: 20px;
            }
    
            &__checkbox-input {
                margin: 0 13px 0 0;
            }
        }
    }

    p {
        font-family: $registration_font-family__roboto;
        font-weight: $registration_font-weight_400;
        font-style: $registration_font-style;
        font-size: 24px;

        max-width: 862px;
        text-align: center;
        margin: 0 auto;
        color: #000;

        a {
            text-decoration: none;
            color: #54274A;
        }
    }
}