$appeal_font-family: 'Montserrat Alternates',
sans-serif;
$appeal_font-weight__700: 700;
$appeal_font-style: normal;
$appeal_color-text: #000000;
$appeal_background-color: #F3F1F1;

.appeal {
    background-color: $appeal_background-color;
    padding: 26px 0 0 0;

    &__inside-block {

        &__heading-text {
            font-family: $appeal_font-family;
            font-weight: $appeal_font-weight__700;
            font-style: $appeal_font-style;
            font-size: 36px;

            color: $appeal_color-text;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            text-align: center;
            padding: 0 0 19px 0;
        }

        &__blocks {
            display: flex;
            justify-content: space-between;
            margin: 0 161px 0 161px;
            padding: 0 0 30px 0;

            &__style {

                &__photo-block {
                    width: 316px;
                    height: 399px;

                    background-color: #C4C4C4;
                }

                &__text {
                    font-family: $appeal_font-family;
                    font-weight: $appeal_font-weight__700;
                    font-size: 24px;
                    font-style: $appeal_font-style;

                    color: $appeal_color-text;
                    text-transform: uppercase;
                    letter-spacing: 0.07em;
                    margin: 12px 0 10px 0;
                }
            }

            &__style__lcd {
                width: 282px;
                height: 49px;

                padding: 4px 50px 4px 50px;

                background-color: #FFFFFF;
                border: 1px solid $appeal_color-text;

                &__inline {
                    display: flex;
                    align-items: center;

                    img {
                        width: 43px;
                        height: 40px;
                    }

                    img + img {
                        margin-left: 27px;
                    }
                }

                &__location-share {
                    margin: 17px 0 0 0;

                    &__location {
                        display: flex;
                        align-items: center;

                        &__text-style {
                            font-family: $appeal_font-family;
                            font-weight: $appeal_font-weight__700;
                            font-style: $appeal_font-style;
                            font-size: 18px;

                            text-transform: uppercase;
                            letter-spacing: 0.07em;
                            margin-right: 27px;
                        }

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    &__share {
                        display: flex;
                        align-items: center;
                        margin-top: 13px;

                        &__text-style {
                            font-family: $appeal_font-family;
                            font-weight: $appeal_font-weight__700;
                            font-style: $appeal_font-style;
                            font-size: 18px;

                            text-transform: uppercase;
                            letter-spacing: 0.07em;
                            margin-right: 110px;
                        }
                        
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
}

.appeal1 {
    background-color: #FFFFFF;
    padding: 26px 0 0 0;

    &__inside-block {

        &__heading-text {
            font-family: $appeal_font-family;
            font-weight: $appeal_font-weight__700;
            font-style: $appeal_font-style;
            font-size: 36px;

            color: $appeal_color-text;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            text-align: center;
            padding: 0 0 19px 0;
        }

        &__blocks {
            display: flex;
            justify-content: space-between;
            margin: 0 161px 0 161px;

            &__style {

                &__photo-block {
                    width: 316px;
                    height: 399px;

                    background-color: #C4C4C4;
                }

                &__text {
                    font-family: $appeal_font-family;
                    font-weight: $appeal_font-weight__700;
                    font-size: 24px;
                    font-style: $appeal_font-style;

                    color: $appeal_color-text;
                    text-transform: uppercase;
                    letter-spacing: 0.07em;
                    margin: 12px 0 10px 0;
                }
            }

            &__style__lcd {
                width: 282px;
                height: 49px;

                padding: 4px 50px 4px 50px;

                background-color: #FFFFFF;
                border: 1px solid $appeal_color-text;

                &__inline {
                    display: flex;
                    align-items: center;

                    img {
                        width: 43px;
                        height: 40px;
                    }

                    img + img {
                        margin-left: 27px;
                    }
                }

                &__location-share {
                    margin: 17px 0 0 0;

                    &__location {
                        display: flex;
                        align-items: center;

                        &__text-style {
                            font-family: $appeal_font-family;
                            font-weight: $appeal_font-weight__700;
                            font-style: $appeal_font-style;
                            font-size: 18px;

                            text-transform: uppercase;
                            letter-spacing: 0.07em;
                            margin-right: 27px;
                        }

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    &__share {
                        display: flex;
                        align-items: center;
                        margin-top: 13px;

                        &__text-style {
                            font-family: $appeal_font-family;
                            font-weight: $appeal_font-weight__700;
                            font-style: $appeal_font-style;
                            font-size: 18px;

                            text-transform: uppercase;
                            letter-spacing: 0.07em;
                            margin-right: 110px;
                        }
                        
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
}