$offer_font-family: 'Roboto', sans-serif;
$offer_font-weight_400: 400;
$offer_font-weight_500: 500;
$offer_font-weight_700: 700;
$offer_font-style: normal;


.offer {

    &__block {
        background-color: #DAE3F0;
        max-width: 1240px;
        margin: 0 auto;
        

        &__yesno {
            display: flex;
            align-items: center;
            margin: 20px 120px;
            padding: 20px 0px;
        }

        h2 {
            font-family: $offer_font-family;
            font-style: $offer_font-style;
            font-weight: $offer_font-weight_700;
            font-size: 26px;
        }

        &__yesno-yeslink {
            font-family: $offer_font-family;
            font-style: $offer_font-style;
            font-weight: $offer_font-weight_700;
            font-size: 25px;
            text-decoration: none;

            background-color: #974e87;
            color: #fff;
            border: 0;
            padding: 7px 54px;
            border-radius: 10px;
            margin-right: 30px;
            margin-left: 30px;
            cursor: pointer;
        }

        &__yesno-nolink {
            font-family: $offer_font-family;
            font-style: $offer_font-style;
            font-weight: $offer_font-weight_700;
            font-size: 25px;
            text-decoration: none;

            background-color: #0E789F;
            color: #fff;
            border: 0;
            padding: 7px 54px;
            border-radius: 10px;
            cursor: pointer;           
        }
        
        &__text {
                font-family: $offer_font-family;
                font-size: 15px;
                font-weight: $offer_font-weight_500;
                margin-left: 120px;
                margin-bottom: 20px;
        }

        &__form {
            max-width: 1200px;
            margin: 0, auto;
                   
            
            &__labels {
                font-family: $offer_font-family;
                font-weight: $offer_font-weight_500;
                font-style: $offer_font-style;
                font-size: 20px;
                margin-left: 120px;
                border: 0;
            }
            
            &__author {
                width: 1000px;
                height: 45px;
                border: 1px solid #54274A;
                outline: none;
                padding: 0;
                margin: 5px 0 25px 120px;
                font-size: 20px;
            }

            &__theme {
                width: 1000px;
                height: 45px;
                border: 1px solid #54274A;
                outline: none;
                padding: 0;
                margin: 5px 0 25px 120px;
                font-size: 20px;
            }

            &__category {
                position: relative;
                width: 1000px;
                height: 45px;
                border: 1px solid #54274A;
                outline: none;
                padding: 0;
                margin: 5px 0 25px 120px;
                font-size: 20px;
                // z-index: 1;
            }

            &__category-sel {
                border: 0;
                background-color: none;
                position: absolute;
                left: 1100px;
                top: 580px;
                outline: none;
                // right: 1200px;
                // z-index: 0;
            }

            &__address {
                width: 1000px;
                height: 45px;
                border: 1px solid #54274A;
                outline: none;
                padding: 0;
                margin: 5px 0 25px 120px;
                font-size: 20px;
            }

            &__text {
                max-width: 1000px;
                max-height: 300px;
                border: 1px solid #54274A;
                outline: none;
                margin: 5px 100px 25px 220px;
                font-size: 16px;
            }

            &__audio {
                width: 1000px;
                height: 45px;
                border: 1px solid #54274A;
                outline: none;
                padding: 0;
                margin: 5px 0 25px 120px;
                font-size: 20px;
            }

            &__video {
                width: 800px;
                height: 200px;
                border: 2px solid #54274A;
                outline: none;
                padding: 0;
                margin: 5px 0 10px 0;
                font-size: 20px;
            }

            &__video + &__video {
                margin-left: 25px;
            }


            &__video-block {
                display: flex;
                margin-left: 120px;
                
            }

            &__video-text {
                width: 1000px;
                margin-right: 50px;
            }


            &__solution {
                width: 1000px;
                height: 45px;
                border: 1px solid #54274A;
                outline: none;
                padding: 0;
                margin: 5px 0 25px 120px;
                font-size: 20px;
            }

            &__buttons {
                display: flex;
                justify-content: center;
    
                button {
                    font-family: $offer_font-family;
                    font-weight: $offer_font-weight_500;
                    font-style: $offer_font-style;
                    font-size: 20px;
    
                    background-color: #B490AC;
                    color: #fff;
                    border: 0;
                    padding: 19px 55px 19px 55px;
                    border-radius: 30px;
                    margin: 0 0 39px 0;
                    cursor: pointer;
                    text-align: center;
                }
            }

        }
    }

    p {
        font-family: $offer_font-family;
        font-weight: $offer_font-weight_400;
        font-style: $offer_font-style;
        font-size: 24px;
    
        max-width: 862px;
        text-align: center;
        margin: 15px auto 65px;
        color: #000;
    
        a {
            text-decoration: none;
            color: #54274A;
        }
    }
}

.redstar {
    color: red;
}

