{% extends 'base.html' %}
{% load static %}


{% block header %}
{% include 'header.html' %}
{% endblock header %}


{% block main %}
<main>
  <section class="topscreen1">
      <div class="topscreen1__titel-contacts">
        <p class="topscreen1__titel-contacts__title">Контактные данные</p>
      </div>
      </section>

    <div class="container">
    <div class="wrapper-contacts">

        <div class="container__item">
            <img src="{% static 'bilet/IMG/Vector.png' %}" class="container__img" alt="call">
            <br>
          <a class="container__item__title-link" href="requestforsurvey.html">Позвоните нам</a>
          <h4 class="container__item__title">  Есть вопросы? Мы поможем!</h4>
          <h4 class="container__item__title2">  WhatsApp/телеграмм:
            0777 777 777 </h4>
          <h5 class="container__item__title3">Позвонить с сайта</h5>
        </div>




        <div class="container__item">
            <img src="{% static 'bilet/IMG/mail.png' %}" class="container__img" alt="mail">
            <br>
            <a class="container__item__title-link" href="requestforsurvey.html">Напишите нам</a>
          <h3 class="container__item__title">Идеи? Предложения?
            Мы открыты для любых
            вопросов!</h3>
            <h5 class="container__item__title3-2">Написать на elbiletkg@elbilet.kg</h5>
        </div>




        <div class="container__item">
            <img src="{% static 'bilet/IMG/Vector(2).png' %}" class="container__img" width="100" height="75" alt="feedback">
            <br>
            <a class="container__item__title-link" href="requestforsurvey.html">Обратная связь</a>
          <h4 class="container__item__title">Поделитесь мнением о
            нашей работе и
            помогите нам стать лучше!</h4>
            <h5 class="container__item__title3">Оставить отзывы</h5>
        </div>

    </div>
    </div>


  <section class="topscreen1">
      <div class="topscreen1__titel-contacts">
        <p class="topscreen1__titel-contacts__title">Дополнительные данные</p>
      </div>
      </section>


      <div class="container-2">
<div class="container-2__fluid">
<div class="card">
<div class="card__header">
      <h2 >Для бизнеса:
          <img src="{% static 'bilet/IMG/Vector(plus).png' %}" width="20" height="20" class="h2-plus" alt="">
       </h2>
      </div>
       </div>
      </div>
      <div class="container-2__fluid">
        <div class="card">
          <div class="card__header">
                <h2>Для прессы:

                     <img src="{% static 'bilet/IMG/Vector(plus).png' %}" width="20" height="20" class="h2-plus2" alt="">

                  </h2>
                </div>
              </div>
                <div class="container-2__fluid">
                  <div class="card">
                    <div class="card__header">
                          <h2> Для соискателей:

                              <img src="{% static 'bilet/IMG/Vector(plus).png' %}" width="20" height="20"  class="h2-plus3" alt="">
                          </h2>
                          </div>
                           </div>
                          </div>
                             </div>

      <p class="text-bottom">ОсОО “Эл билет KG”
        Юридический адрес: г. Бишкек, ул. Манаса 32
        ИНН:
        </p>
</div>
</main>
    {% endblock main %}

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock footer %}
