@import 'vars';   
.container-2{
        margin: 0px 0px 0px 100px;


.container-2__fluid{
 margin: 0 auto;


.card__header {
    
            border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 1140px;
    margin-top: 20px;
    margin-bottom: 20px;



    .h2-plus{
            margin-left: 900px;
           
    }
        }
       
    
}
// @media (min-width:576px) {
//     .container-2 {
//      max-width:540px;
//     }
//    }
//    @media (min-width:768px) {
//     .container-2 {
//      max-width:720px;
//     }
//    }
//    @media (min-width:992px) {
//     .container-2 {
//      max-width:960px;
//     }
//    }
//    @media (min-width:1200px) {
//     .container-2 {
//      max-width:1140px;
//     }
//    }


 .text-bottom{
      font-family: $third-font;
      margin: 30px 0px 30px 0px;  
      
}
}
