
@import 'vars';
  .announcement {
    margin: 0px auto 0px;
    width: 1140px;
    background-color: $light-blue;
  }
  .autorPhoto {
    position: relative;
    width: 295px;
    height: 222px;
    background-color: #c4c4c4;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
  }
  .containerForAll {
    width: 1140px;
    margin: auto;
  }
  .author-name1 {
    position: absolute;
    top: 250px;
    left: 100px;
  }
  .container-user1 {
    display: flex;
    justify-content: start;
  }
  .user-announcement {
    width: 503px;
    margin-left: 20px;
    margin-top: 50px;
    font-family: $main-font;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    color: #000000;
  }
  .cards-user {
    margin-left: 0;
    margin-bottom: 70px;
  }
  .photo-card-user {
    margin-left: 0;
    width: 236px;
    height: 195px;
    background-color: #c4c4c4;
    margin-right: 27px;
  }
  .cards-user {
    display: flex;
  }
  .cards-user li {
    list-style: none;
  }
  .uls-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
  }
  .like a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
  }
  .like-userCard {
    text-align: center;
    width: 253px;
    height: 44px;
    list-style: none;
    font-family: $main-font;
    font-size: 24px;
    line-height: 25px;
    background-color: #c4c4c4;
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 70px;
  }
  .title-user-card3 {
    font-family:$main-font ;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    margin: 150px 0 54px 90px;
    color: #000000;
  } 
  *,
  *::after,
  *::before {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }