.requestfor {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 70px;
  &__survey-container {
    width: 925px;
    margin: auto;
  }
  &__survey-title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    margin: 40px 0 40px;
  }
  &__survey-paragraph {
    text-align: center;
    width: 800px;
    margin: 0 auto 46px;
  }
  &__survey-form {
    width: 928px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__survey-input {
    width: 295px;
    height: 52px;
    background: #dae3f0;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  &__survey-textarea {
    margin-top: 16px;
    width: 925px;
    height: 180px;
    background: #dae3f0;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
    resize: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  &__survey-textarea::placeholder,
  &__survey-input::placeholder {
    font-family: Montserrat Alternates;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
  }
  &__survey-textarea::placeholder {
    text-align: left;
    margin: 11px 0 0 7px;
  }
  &__survey-btn {
    margin: 20px auto 0;
    width: 325px;
    height: 65px;
    background: #b490ac;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: Montserrat Alternates;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }
  &__survey-bottom-block {
    width: 918px;
    height: 295px;
    background: #dae3f0;
    border: 2px solid #000000;
    border-radius: 12px;
    text-align: center;
  }
  &__survey-bottom-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 110%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin: 40px auto 27px;
  }
  &__survey-bottom-paragraph {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin: 0 auto 40px;
  }
  &__survey-bottom-paragraph:nth-child(odd) {
    width: 272px;
    line-height: 110%;
  }
  &__survey-bottom-paragraph:last-child {
    font-weight: bold;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
