$results_font-family:  'Montserrat Alternates',
sans-serif;
$results_font-style: normal;
$results_font-weight__700: 700;
$results_color-light-blue: #DAE3F0;
$results_background-color: #F3F1F1;
$results_color-text: #000000;

.results {
    background-color: $results_background-color;

    &__inside-blocks {
        padding: 70px 0 76px 0;

        &__heading-text-style {
            font-family: $results_font-family;
            font-weight: $results_font-weight__700;
            font-style: $results_font-style;
            font-size: 36px;

            text-transform: uppercase;
            letter-spacing: 0.07em;
            text-align: center;
        }

        &__topic-appeal {
            display: flex;
            justify-content: space-between;
            margin: 23px 100px 0 100px;

            &__block-before {
                width: 564px;

                &__text-style {
                    font-family: $results_font-family;
                    font-weight: $results_font-weight__700;
                    font-style: $results_font-style;
                    font-size: 36px;

                    letter-spacing: 0.07em;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 0 0 10px 0;
                }

                &__block-appeal {
                    background-color: $results_color-light-blue;
                    width: 564px;
                    height: 367px;

                    &__text-style {
                        font-family: $results_font-family;
                        font-weight: $results_font-weight__700;
                        font-style: $results_font-style;
                        font-size: 20px;

                        letter-spacing: 0.07em;
                        text-transform: uppercase;
                        padding: 36.74px 0 0 0;
                        text-align: center;
                    }
                }

                &__author-text-style {
                    font-family: $results_font-family;
                    font-weight: $results_font-weight__700;
                    font-style: $results_font-style;
                    font-size: 16px;

                    text-transform: uppercase;
                    letter-spacing: 0.07em;
                    margin: 12px 0 0 0;
                }
            }

            &__block-after {
                width: 564px;

                &__text-style {
                    font-family: $results_font-family;
                    font-weight: $results_font-weight__700;
                    font-style: $results_font-style;
                    font-size: 36px;

                    letter-spacing: 0.07em;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 0 0 10px 0;
                }

                &__block-appeal {
                    background-color: $results_color-light-blue;
                    width: 564px;
                    height: 367px;

                    &__text-style {
                        font-family: $results_font-family;
                        font-weight: $results_font-weight__700;
                        font-style: $results_font-style;
                        font-size: 20px;

                        letter-spacing: 0.07em;
                        text-transform: uppercase;
                        padding: 36.74px 0 0 0;
                        text-align: center;
                    }
                }

                &__author-text-style {
                    font-family: $results_font-family;
                    font-weight: $results_font-weight__700;
                    font-style: $results_font-style;
                    font-size: 16px;

                    text-transform: uppercase;
                    letter-spacing: 0.07em;
                    margin: 12px 0 0 0;
                }
            }
        }
    }
}