$services_font-family: 'Montserrat Alternates',
sans-serif;
$services_font-style: normal;
$services_font-weight__700: 700;
$services_color-blue: #0E789F;
$services_color-black: #000000;
$services_color-white: #FFFFFF;

.services {
    background-color: $services_color-white;
    padding: 70px 0 70px 0;

    &__inside-blocks {

        &__style-text {
            font-family: $services_font-family;
            font-weight: $services_font-weight__700;
            font-style: $services_font-style;
            font-size: 36px;

            text-align: center;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            margin: 0 0 40px 0;
        }

        &__service-blocks {
            margin: 0 100px 0 100px;
            
            &__roads-education-statesystem {
                text-align: center;
                display: flex;
                justify-content: space-between;

                &__roads {
                    background-color: $services_color-blue;
                    width: 354px;
                    padding: 33px 0 26px 0;

                    img {
                        width: 77px;
                    }

                    &__style-text {
                        font-family: $services_font-family;
                        font-style: $services_font-style;
                        font-weight: $services_font-weight__700;
                        font-size: 28px;
                        color: $services_color-white;
                        width: 212px;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 35px auto 0;
                        letter-spacing: 0.07em;
                    }
                }

                &__education {
                    background-color: $services_color-blue;
                    width: 354px;
                    padding: 41.73px 0 35.05px 0;

                    img {
                        width: 100px;
                    }

                    &__style-text {
                        font-family: $services_font-family;
                        font-style: $services_font-style;
                        font-weight: $services_font-weight__700;
                        font-size: 28px;
                        color: $services_color-white;
                        width: 212px;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 39.27px auto 0;
                        letter-spacing: 0.07em;
                    }
                }

                &__statesystem {
                    background-color: $services_color-blue;
                    width: 354px;
                    padding: 33.78px 0 35.05px 0;

                    img {
                        width: 100px;
                    }

                    &__style-text {
                        font-family: $services_font-family;
                        font-style: $services_font-style;
                        font-weight: $services_font-weight__700;
                        font-size: 28px;
                        color: $services_color-white;
                        width: 212px;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 26.68px auto 0;
                        letter-spacing: 0.07em;
                    }
                }
            }

            &__medicine-ecology-nutrition {
                text-align: center;
                display: flex;
                justify-content: space-between;
                margin: 84.56px 0 0 0;

                &__medicine {
                    background-color: $services_color-blue;
                    width: 354px;
                    padding: 21.4px 0 26px 0;

                    img {
                        width: 87.5px;
                    }

                    &__style-text {
                        font-family: $services_font-family;
                        font-style: $services_font-style;
                        font-weight: $services_font-weight__700;
                        font-size: 28px;
                        color: $services_color-white;
                        width: 212px;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 36.46px auto 0;
                        letter-spacing: 0.07em;
                    }
                }

                &__ecology {
                    background-color: $services_color-blue;
                    width: 354px;
                    padding: 21.4px 0 35.05px 0;

                    img {
                        width: 100px;
                    }

                    &__style-text {
                        font-family: $services_font-family;
                        font-style: $services_font-style;
                        font-weight: $services_font-weight__700;
                        font-size: 28px;
                        color: $services_color-white;
                        width: 212px;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 46.55px auto 0;
                        letter-spacing: 0.07em;
                    }
                }

                &__nutrition {
                    background-color: $services_color-blue;
                    width: 354px;
                    padding: 21.4px 0 35.05px 0;

                    img {
                        width: 104px;
                    }

                    &__style-text {
                        font-family: $services_font-family;
                        font-style: $services_font-style;
                        font-weight: $services_font-weight__700;
                        font-size: 28px;
                        color: $services_color-white;
                        width: 212px;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 45.06px auto 0;
                        letter-spacing: 0.07em;
                    }
                }
            }
        }

        &__btn-appeal {
            background-color: $topscreen_background-color__pink;
            display: flex;
            align-items: center;
            padding: 12px 181px 12px 18px;
            width: 892px;
            border-radius: 12px;
            margin: 33px auto 0;
            
            a {
                text-decoration: none;
                width: 10000px;
            }

            img {
                width: 71px;
                height: 67px;
            }

            &__text-style {
                font-family: $topcreen_font-family;
                font-weight: $topscreen_font-weight__700;
                font-style: $topscreen_font-style;
                font-size: 36px;
                color: $topscreen_text-color;
                margin-left: 95px;
                width: 710px;
                text-transform: uppercase;
            }
        }
    }
}