$topcreen_font-family: 'Montserrat Alternates',
sans-serif;
$topscreen_font-style: normal;
$topscreen_font-weight__700: 700;
$topscreen_font-weight__800: 800;
$topscreen_text-color: #FFFFFF;
$topscreen_background-color__blue: #0E789F;
$topscreen_background-color__pink: #B490AC;

.top-screen {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;

    &__video {
        position: relative;

        &-media {
            width: 100%;
            height: auto;

            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.all-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 87px auto 0;

    &__text {

        &-h1 {
            font-family: $topcreen_font-family;
            font-weight: $topscreen_font-weight__700;
            font-style: $topscreen_font-style;
            font-size: 36px;

            margin: 0 auto;
            color: #FFFFFF;
            width: 516px;
            text-align: center;
            line-height: 44px;
            margin-bottom: 21px;

            span {
                font-family: $topcreen_font-family;
                font-weight: $topscreen_font-weight__800;
                font-size: 48px;
            }
        }

        &-h2 {
            font-family: $topcreen_font-family;
            font-weight: $topscreen_font-weight__700;
            font-style: $topscreen_font-style;
            font-size: 28px;

            margin: 0 auto;
            color: #FFFFFF;
            text-align: center;
            width: 751px;
        }
    }

    &__block-treatment {

        &__rating {
            background-color: $topscreen_background-color__blue;
            padding: 25px 95px 25px 95px;
            max-width: 1240px;
            margin: 51px auto 0;

            &-inner {
                display: flex;
                align-items: center;
                text-align: center;

                &__text-style {
                    font-family: $topcreen_font-family;
                    font-weight: $topscreen_font-weight__700;
                    font-size: 32px;
                    font-style: $topscreen_font-style;

                    text-transform: uppercase;
                    color: $topscreen_text-color;
                    letter-spacing: 0.07em;
                }

                &__text-style+&__text-style {
                    margin-left: 156px;
                }
            }
        }

        &__treatment {
            background-color: $topscreen_background-color__pink;
            display: flex;
            align-items: center;
            padding: 12px 181px 12px 18px;
            width: 892px;
            border-radius: 12px;
            margin: 62px auto 0;
            
            a {
                text-decoration: none;
                width: 10000px;
            }

            img {
                width: 71px;
                height: 67px;
            }

            &__text-style {
                font-family: $topcreen_font-family;
                font-weight: $topscreen_font-weight__700;
                font-style: $topscreen_font-style;
                font-size: 36px;
                color: $topscreen_text-color;
                margin-left: 95px;
                width: 710px;
                text-transform: uppercase;
            }
        }
    }
}