{% load static %}

{% block header %}
<header class="header">
    <div class="header__inner-line">
        <div class="header__logo">
            <a href="#" class="header__logo-link">
                <img src="{% static 'bilet/IMG/logo.png' %}" alt="logo el bilet">
            </a>
        </div>

        <nav class="nav">
            <ul>
                <li><a href="#" class="nav__link-aboutus">О нас</a></li>
                <li><a href="#" class="nav__link-services">Услуги</a>
                    <ul>
                        <li><a href="#">Форум для обсуждения НПА</a></li>
                        <li><a href="#">Волонтеры Кыргызстана</a></li>
                        <li><a href="#">Социальные проекты</a></li>
                        <li><a href="#">Опросы</a></li>
                        <li><a href="#">Дата аналитика для маркетинговых иследований</a></li>
                        <li><a href="#">Народный call center</a></li>
                        <li><a href="#">Рейтинговое агентство</a></li>
                    </ul>
                </li>
                <li><a href="#" class="nav__link-contacts">Контакты</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}" class="nav__link-registration">Выйти</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}" class="nav__link-registration">Войти</a></li>
                {% endif %}
                <li>
                    <select name="lang" class="langs" id="langs">
                        <option value="ru">RU</option>
                        <option value="en">EN</option>
                        <option value="kg">KG</option>
                    </select>
                </li>
            </ul>
        </nav>
    </div>
</header>
{% endblock header %}
