$registration_font-family: 'Roboto',
sans-serif;
$registration_font-weight_400: 400;
$registration_font-weight_700: 700;
$registration_font-style: normal;

.registration2 {

    &__heading-text {
        font-family: $registration_font-family;
        font-weight: $registration_font-weight_700;
        font-style: $registration_font-style;
        font-size: 30px;
        text-align: center;
        margin: 64px 0 20px 0;
    }

    &__block {
        background-color: #DAE3F0;
        max-width: 862px;
        position: relative;
        margin: 55px auto 0;

        &__form {
            max-width: 736px;
            margin: 0 auto;
            padding: 143px 0 0 0;
        }

        &__buttons {
            display: flex;
            justify-content: space-between;

            button {
                font-family: $registration_font-family;
                font-weight: $registration_font-weight_400;
                font-style: $registration_font-style;
                font-size: 20px;

                background-color: #B490AC;
                color: #fff;
                border: 0;
                padding: 19px 55px 19px 55px;
                border-radius: 30px;
                margin: 0 0 39px 0;
                cursor: pointer;
            }
        }

        &__labels {
            font-family: $registration_font-family;
            font-weight: $registration_font-weight_400;
            font-style: $registration_font-style;
            font-size: 20px;
        }

        &__checkbox-style {
            display: flex;
            align-items: baseline;
            margin: 0 0 39px 0;

            &__checkbox-label {
                width: 639px;
                font-family: $registration_font-family;
                font-weight: $registration_font-weight_400;
                font-style: $registration_font-style;
                font-size: 20px;
            }
    
            &__checkbox-input {
                margin: 0 13px 0 0;
            }
        }

        &__input-email {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 37px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }

        &__input-username {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 37px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }

        &__input-password {
            width: 736px;
            height: 58px;
            border: 1px solid #54274A;
            outline: none;
            padding: 0;
            margin: 10px 0 56px 0;
            padding: 0 0 0 20px;
            font-size: 18px;
        }
    }

    p {
        font-family: $registration_font-family;
        font-weight: $registration_font-weight_400;
        font-style: $registration_font-style;
        font-size: 24px;

        max-width: 862px;
        text-align: center;
        margin: 20px auto 65px;
        color: #000;

        a {
            text-decoration: none;
            color: #54274A;
        }
    }
}