{% extends 'base.html' %}
{% load static %}


{% block header %}
{% include 'header.html' %}
{% endblock header %}


{% block main %}
    <main>
        <section class="registration">
            <div class="registration__block">

                <form action=" {% url 'account_signup' %} " class="registration__block__form" method="POST">
                  {% if form.errors %}
                  <KZZZZZZZ
                  {% endif %}
                  {{ form.as_p }}
                  {% csrf_token %}



                    <div class="registration__block__checkbox-style">
                        <input type="checkbox" class="registration__block__checkbox-style__checkbox-input">
                        <label for="checkbox" class="registration__block__checkbox-style__checkbox-label">Своей регистрацией я потверждаю, что прочитал/a и принимаю политику конфиденциальности.</label>
                    </div>

                    <div class="registration__block__buttons">
                        <button type="submit">Регистрация</button>
                    </div>
                </form>

                <p>Проблемы или вопросы о регистрации? Пожалуйста ,напишите нам по электроной почте: <a href="#">singup@elbilet.com</a></p>
            </div>
        </section>
    </main>

    {% endblock main %}

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock footer %}
